.cart{
    margin-top: 100px;

}
.cartitems-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
   
    font-size: max(1vw,12px);
}
.cartitemitem{
    margin: 10px 0px ;
    color: black;

}
.cartitemitem img{
    width: 50px;
}
.cart hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;

}
.cartitemitem .cross{
cursor: pointer;
}



/* bottom  */
.cartb{
    margin-top: 80px ;
    display: flex;
    justify-content: space-between;
    gap: max(12vw,20px);
}
.carttotal{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.carttotal-detail{
    display: flex;
    justify-content: space-between;
    color:#555;
}
.carttotal hr{
    margin: 10px 0 ;

}
.carttotal button{
    color: white;
    background: tomato;
    width: max(15vw,200px);
    padding: 12px 0px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

}
.promo{
    flex: 1;
}
.promo p{
    color: #555;
}
.promo-input{
   display: flex; 
   margin-top: 10px;
   width: 22vw;
   justify-content:space-around ;
   align-items: center;
   background-color: #eaeaea;
   border-radius: 4px;

}
.promo-input input{
   background: transparent; 
   border: none;
   outline: none;
   padding-left: 10px;
}
.promo-input button{
    width: max(12vw,180px);
    padding :12px 5px;
    background-color: black;
    color: white;
    border-radius: 4px;
}